<p id="notice"><%= notice %></p>

<p>
  <b>Apikey:</b>
  <%= @group.apiKey %>
</p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<h2>Add a FreeVote:</h2>
<%= form_for([@group, @group.social_contract.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
 <div class="field">
    <%= f.label :conclusion %><br />
    <%= f.text_area :conclusion %>
 </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
